<div class="float-left" style="margin:20px; width:30%;" id="response"></div>
<button id="next" type="button"  class="btn btn-success fixed-bottom">Next Page</button>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center"></h4>
        <iframe width="100%" height="350" src="" allow="autoplay; encrypted-media"></iframe>
          <%= form_for :song, remote: true, url: root_path, html: {id: 'add_song_to_playlist_form'} do |f| %>
            <%= f.select :playlist_id, Playlist.all.collect{ |playlist| [playlist.name, playlist.id] }, {prompt: 'Please select'} , {:class=>"playlist_created"} %>
            <%= f.hidden_field :title %>
            <%= f.hidden_field :videoId %>
            <%= f.submit class: "btn-sm btn-success", style: "display: none;" %>
            <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modalplaylist"><span class="glyphicon glyphicon-plus"></span> Create</button>
          <% end %>
        <span id="message_result_modal" class="badge badge-danger" style="display: none;"></span>
      </div>
    </div>
  </div>
</div>

<div class="float-right " style="width:50%; margin:0px; padding:0px;">
  <div class="float-right" width="100%" src=""  id="player" name="myname"></div><br>
  <div id="js-playlist-content"></div>
</div>

<%= render 'modals' %>
