<h2><%= @playlist.name %>
  <% if user_signed_in? %>
    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modalplaylist"><span class="glyphicon glyphicon-plus"></span></button>
    <%= link_to edit_playlist_path(@playlist),  
                { :class => 'btn btn-warning',
                            'data-toggle' => 'modal',
                            'data-target' => "#modalplaylistedit" } do %>
                            <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
    <%= link_to @playlist, method: :delete, :data => { :confirm=>"Are you sure?", remote: true }, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  <% end %>
</h2>

<% @playlist.songs.each do |song| %>
  <div id="container-song-<%= song.id %>">
    <div class="dropdown-divider"></div>
    <%= link_to playlist_song_url(@playlist, song), 
                method: :delete, :data => { :confirm=>"Are you sure?", remote: true }, 
                class: "btn btn-danger float-right" do %>
                <span class="glyphicon glyphicon-trash"></span>
    <% end %>
    <ul>
      <li class="btn btn-light" data-video="<%= song.videoId %>"><%= song.title %></li>
    </ul>
  </div>
<% end %>

<%= render 'modals' %>

<style scope>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>
