<!DOCTYPE html>
<html>
  <head>
    <title>RockolaApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
  </head>

  <body>
    <div id="app">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">RockolaApp</a>
        <input class="form-control mr-sm-2" style="width: 600px;" @keyup.enter="search" v-model="query"  placeholder="Search video">
        <button class="btn btn-dark" @click="search"><span class="glyphicon glyphicon-search"></span></button>
        <input type="button" class="btn btn-light" data-toggle="modal" data-target="#registerModal" value="Sign up">
        <input type="button" class="btn btn-light" data-toggle="modal" data-target="#LoginModal" value="Sign in">
        <div class="float-right" style="width:20%;">
          <select v-model="currentPlaylistId" class="float-right form-control" @change="setCurrentPlaylist">
            <option value="">Please Select</option>
            <option :value="playlist.id" v-for="playlist in playlists">{{playlist.name}}</option>
          </select>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <%= yield%>
            <% if notice%>
              <p class="alert alert-success"><%= notice%>
              <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button></p>
            <% elsif alert%>
              <p class="alert alert-danger"><%= alert%>
              <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button></p>
            <% end%>
          </div>
          <div class="col-sm-6">
            <div>
              <playlist :playlist-info="currentPlaylist" :songs="playlistSongs"></playlist>
            </div>
          </div>
        </div>
          <login></login>
      </div>
    </div>
  </body>
</html>
