<!DOCTYPE html>
<html>
  <head>
    <title>RockolaApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
  </head>

  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-expand"></span>
        RockolaApp
        </a>
        
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" @keyup.enter="search" v-model="query"  placeholder="Search video" style="width:30em;">
          <button class="btn btn-light-inline bg-light" @click.prevent="search"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <div class="navbar-collapse collapse justify-content-end" id="navbarSupportedContent" style="padding-right: 10px;">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" v-if="!session">
              <a class="nav-link" data-toggle="modal" data-target="#registerModal" href="#">Sign up</a>
            </li>
            <li class="nav-item" v-if="!session">
              <a class="nav-link" data-toggle="modal" data-target="#LoginModal" href="#">Sign in</a>
            </li>
            <div class="dropdown" v-if="session">
              <button class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ username }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button @click="logout" class="dropdown-item btn btn-ligth">Sign Out</button>
              </div>
            </div>
          </ul>
        </div>

        <form class="form-inline my-2 my-lg-0 w-25">
          <select v-model="currentPlaylistId" class="float-right form-control w-100" @change="setCurrentPlaylist">
            <option value="">Please Select</option>
            <option :value="playlist.id" v-for="playlist in playlists">{{playlist.name}}</option>
          </select>
        </form>
      </nav>

      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <%= yield%>
          </div>
          <div class="col-sm-6">
            <div>
              <playlist :playlist-info="currentPlaylist" :songs="playlistSongs" :user-id="userId"></playlist>
            </div>
          </div>
        </div>
          <login></login>
      </div>
    </div>
  </body>
</html>
